

table,tr,td{
  border:2px solid #000;
  border-collapse: collapse;
  background-color: yellow;
}


.main{

  background-color: blue;
  display: flex;
  flex-wrap:wrap;
}
.left{
    text-align: justify;
    background-color: #708090;
    border:5px solid #000;
    margin:5px;
    flex:1;


    /* background-image: url(); */
}
.right{
  text-align: justify;

background-color: #008B8B;
border:5px solid #000;
color:#000;
flex:2;

}
#name{
  color:green;
}
.left img{
  border-radius: 50px;
  border: 5px solid #c454;
}

/* media queries(1024,1280,768,480)
1280-1024: desktop
1024-768: tablet(landscape and portrait)
768-480: tablet
480: mobile landscape(or) smaller device
*/
/* @media sreen and (min-width:425px){ */
 @media only screen and (min-width:1024px) and (max-width:1280px){
.main{
  display: flex;
  flex-wrap:wrap;
  background-color: #800080;
}
.left{
  text-align: justify;

  background-color: #985;
}
.right{
  text-align: justify;

  background-color: #999;

}
}
@media only screen and (min-width:768px) and (max-width:1024px){
  .main{
    display: flex;
    flex-wrap:wrap;
  background-color: #800080;
  }
  .left{
    text-align: justify;

    background-color: #EE82EE;
  }
  .right{
    text-align: justify;

    background-color: #FA8072;

  }

}
@media only screen (min-width:480px) and (max-width:768px){
  .main{
    display: flex;
    flex-wrap:wrap;
  background-color: #800080;
  }
  .left{
    text-align: justify;

    background-color: #00FF00;
  }
  .right{
    text-align: justify;

    background-color: #20B2AA;

  }


}
@media only screen (min-width:1024){

}
 /* .main{
    width:100%;
    background-color:#999;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
  }
  .left{
      width:25%;
      background-color:#c45e45;
      border:5px solid #000;
      margin:5px;
      padding:6px;

  }
  .right{
    width:70%;
  background-color:#666;
  border:5px solid #000;
  margin: 5px;
  }
  #name{
    color:green;
  }
  .left img{
    border-radius: 50px;
    border: 5px solid:#c454;
  } */
